body {
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}

.events-container {
    margin-bottom: 10px;
}

/* change button name */
.test-image {
    cursor: pointer;
    background-size: cover;
    width: 100%;
    height: 100px;
}

header {
    background-color: #fff;
    color: #F26959;
    font-family: 'Itim', cursive;
    font-size: 18px;
}

header h1 {
    padding: 10px 0;
    margin: 0 0 0 10px;
}

h2 {
    margin: 0;
}

section {
    margin-bottom: 10px;
}

img {
    width: 100%;
}

form {
    /* height: 160px; */
    padding: 20px 0;
    font-size: 20px;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    margin-bottom: 8px;
}

label {
    display: inline-block;
    margin: 6px 0;
}

form button {
    background-color: #F26959;
    border: 1px solid #F26959;
    border-radius: 5px;
    color: #fff;
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    width: 90px;
}

input {
    border: 1px solid #e4e4e4;
    padding: 2px;
}


.hero {
    background: url("../images/alin-meceanu-830-unsplash-short.jpg") no-repeat center center;
    background-color: darkblue;
    background-size: cover;
    height: 200px;
    margin-bottom: 210px;
    width: 100%;
    position: relative;
}

.hero-title {
    background-color: rgba(255, 255, 255, 0.58);
    color: #005070;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.form-container {
    transform: translateY(200px);
}

.search {
    width: 100%;
}

.search input {
    font-size: 16px;
    height: 40px;
    padding-left: 5px;
    width: 100%;
}

.mob-hide {
    display: none;
}

.mob-scroll {
    overflow: scroll;
    height: 200px;
}

@media (min-width: 650px) {
    body {
        background-color: #fff;
    }

    header h1 {
        margin: 15px 0 15px 10px;
    }

    form {
        background-color: white;
        border: 1px solid #e4e4e4;
    }

    .hero {
        height: 500px;
        background-attachment: fixed;
        margin-bottom: 100px;
        width: 100%;
    }

    .hero-title {
        border-radius: 10px;
        font-size: 45px;
        width: initial;
    }

    .form-container {
        transform: translateY(420px);
    }

    .mob-scroll {
        overflow: initial;
        height: initial;
    }
}