
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}

.events-container {
    margin-bottom: 10px;
}

/* change button name */
.test-image {
    cursor: pointer;
    background-size: cover;
    width: 100%;
    height: 100px;
}

header {
    color: #F26959;
    font-family: 'Itim', cursive;
    font-size: 18px;
}

header h1 {
    margin: 15px 0 15px 10px;
}

h2 {
    margin: 0;
}

.hero {
    background: url("../images/alin-meceanu-830-unsplash-short.jpg") no-repeat center center;
    background-color: darkblue;
    background-size: cover;
    height: 200px;
    margin-bottom: 150px;
    width: 100%;
    position: relative;
}

.hero-title {
    background-color: rgba(255, 255, 255, 0.58);
    color: #005070;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.form-container {
    transform: translateY(100%);
}

form {
    background-color: white;
    border: 1px solid #e4e4e4;
    height: 160px;
    padding: 10px;
}

section {
    margin-bottom: 10px;
}

img {
    width: 100%;
}

fieldset {
    border: none;
}

.mob-scroll {
    overflow: scroll;
    height: 200px;
}

@media (min-width: 650px) {
    .hero {
        height: 500px;
        background-attachment: fixed;
        margin-bottom: 100px;
        width: 100%;
    }

    .hero-title {
        border-radius: 10px;
        font-size: 45px;
        width: initial;
    }

    .form-container {
        transform: translateY(420px);
    }

    .mob-scroll {
        overflow: initial;
        height: initial;
    }
}